<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="fragments/sidebar"/>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/nav"/>

            <div class="container-fluid">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8">
                        <form th:object="${figureDto}">
                            <h3 class="mb-4 font-weight-bold text-success" th:text="*{title}"></h3>

                            <div th:utext="*{iframeTag}" class="mb-4"></div>

                            <textarea th:field="*{description}" cols="30" rows="3" class="form-control mb-4"
                                      readonly></textarea>

                            <a class="btn btn-primary mr-2 mb-4"
                               th:href="@{'/dashboard/dashboardDetail/' + *{dashboardId}}">Dashboard로 돌아가기</a>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"/>

</body>
</html>