<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="container" th:fragment="footer">
    <!-- Bootstrap core -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Custom scripts -->
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>
</footer>
</html>