<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="nav">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- 회원 가입, 로그인 버튼 -->
    <ul class="navbar-nav ml-auto" th:if="${principal == null}">
        <li class="nav-item active">
            <a href="/member/new" class="btn btn-primary btn-icon-split mr-3">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                <span class="text">회원 가입</span>
            </a>
        </li>
        <li class="nav-item active">
            <a href="/login" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                <span class="text">로그인</span>
            </a>
        </li>
    </ul>

    <!-- 로그인시 -->
    <ul class="navbar-nav ml-auto" th:if="${principal != null}">

        <li class="nav-item active mt-3" sec:authorize="hasRole('ADMIN')">
            <a href="/admin" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                <span class="text">관리자 페이지로</span>
            </a>
        </li>

        <!-- 회원정보 및 로그아웃 -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 text-gray-800" th:text="${principal}"></span>
                <img class="img-profile rounded-circle" th:src="@{/files/ryan.png}">
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <!-- 회원인 경우 회원 정보 접근 가능 -->
                <form sec:authorize="hasRole('USER')">
                <a class="dropdown-item" href="/member/memberDetail">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    회원 정보
                </a>
                <div class="dropdown-divider"></div>
                </form>
                <!-- 관리자인 경우에는 로그아웃만 제공 -->
                <form method="post" th:action="@{/logout}">
                    <button class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        로그아웃
                    </button>
                </form>
            </div>
        </li>

    </ul>

</nav>
</html>