.login {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 50px;
}

.logo {
    font-weight: bold;
    color: #1cc88a;
}

.errorMsg {
    color: red;
}

.ck.ck-content {
    height: 300px;
}

.btn-detail {
    padding: 10px;
}

p.fileName {
    font-weight: bold;
}