<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="fragments/sidebar"/>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/nav"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between ml-5 mb-4">
                    <h1 class="h3 mb-0 text-gray-800">DataViewer</h1>
                </div>
                <div class="mx-3 about text-dark">
                    DataViewer는 고객님께서 요청하신 데이터를 분석하고 차트로 시각화하여 제공해드리는 데이터 분석 플랫폼입니다. <br>
                    각종 통계 자료, public 데이터, 실험 데이터, 로그 파일 등 다양한 형태의 데이터를 모두 분석해드립니다. <br>
                    회원 가입 후 분석 의뢰를 작성해주세요. 이 때 분석할 데이터를 첨부해주시면 됩니다. <br>
                    견적이 승인되면 분석 작업이 시작되고 곧 insight가 충만한 Dashboard를 만나보실 수 있습니다. <br>
                    분석 완료 후에도 요청에 따라 추가 분석을 진행하여 Dashboard에 업데이트 해드립니다. <br>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <div class="text-dark" style="margin-right:14rem; margin-top:15rem;">
                        TEL: 010-1234-1234 <br>
                        EMAIL: samuelmwkim@gmail.com <br>
                        GITHUB: <a href="https://github.com/samuelkim7">https://github.com/samuelkim7</a>
                    </div>
                    <img th:src="@{/files/about1.jpg}" height="330" width="600" class="opacity60">
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/footer"/>

</body>

</html>