<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="fragments/sidebar"/>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/nav"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <br><br>
                <div class="d-flex justify-content-left mt-5">
                    <div th:text="${error}" class="mr-5 h4 text-dark font-weight-bold ml-5">
                        서버에 내부적인 문제가 발생했습니다. 관리자에게 문의하세요.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/footer"/>

</body>

</html>