<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="fragments/sidebar"/>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/nav"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <br><br>
                <div class="d-flex justify-content-end mt-5">
                    <div class="mr-5 big text-dark font-weight-bold">
                        복잡한 데이터 분석 <br>
                        DataViewer에 맡기세요. <br>
                        Dashboard로 만나보세요.
                    </div>
                <img th:src="@{/files/front1.jpg}" height="330">
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/footer"/>

</body>

</html>