<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="fragments/adminSidebar"/>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav th:replace="fragments/adminNav"/>

            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                </div>

                <form th:action="@{/admin/dashboard/update}" th:object="${dashboardDto}" method="post">
                    <div class="row">
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h6 font-weight-bold text-primary mb-2">제목</div>
                                            <input type="text" class="h6 mb-0 form-control" th:field="*{title}">
                                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h6 font-weight-bold text-success mb-2">의뢰 제목</div>
                                            <span class="h5 mb-0 text-gray-800"
                                                  th:text="${dashboardDto.orderTitle}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-9 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h6 font-weight-bold text-info mb-2">내용</div>
                                            <textarea th:field="*{content}" cols="30" rows="3" class="form-control"></textarea>
                                            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" th:field="*{id}">

                    <div class="row">
                        <button type="submit" class="btn btn-primary mr-2 mb-3">수정하기</button>
                        <a class="btn btn-danger mr-2 mb-3 confirmCancel"
                           th:href="@{'/admin/dashboard/delete/' + *{id}}">삭제하기</a>
                        <a class="btn btn-primary mr-2 mb-3" href="/admin/dashboards">Dashboard 목록</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"/>

</body>
</html>